*{
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: hsl(0, 0%, 41%);
}
main{
    display: flex;
    justify-content: center;
    padding: 30px;
    width: 100%;
    height: 100%;
}
section{
    display: flex;
    flex-direction: column;
    gap: 10vh;
    width: 90%;
}
header{
    display: flex;
    justify-content: space-between;
}
.opciones{
    display: flex;
    gap: 50%;
    align-items: center;
}
.opciones_desplegables{
    display: flex;
    gap: 30%;
}
.Logueos{
    display: flex;
    gap: 30%;
}
.registro{
    margin-top: -14px;
    border: 2px solid;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
}
article{
    display: flex;
    justify-content: space-around;
}
h1{
    color: hsl(0, 0%, 8%);
    font-size: 80px;
}
pre{
    font-size: 22px;
}
.contenido{
    display: flex;
    flex-direction: column;
    gap: 10vh;
}
.boton{
    border: 2px solid hsl(0, 0%, 8%) ;
    background-color: hsl(0, 0%, 8%);
    border-radius: 15px;
    padding: 15px 20px 15px 20px;
    width: 130px;
}
.boton_texto{
    color: hsl(0, 0%, 98%);
}
.iconos{
    display: flex;
    align-items: center;
    width: 35vw;
    justify-content: space-between;
}
.imagen_fondo img{
    height: 70vh;
    width: 100%;
}