*{
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: hsl(0, 0%, 41%);
}
body{
    background-color: rgb(244, 244, 244);
}
main{
    display: flex;
    justify-content: center;
    padding: 30px;
    width: 100%;
    height: 100%;
}
section{
    display: flex;
    flex-direction: column;
    gap: 9vh;
    width: 90%;
}
header{
    display: flex;
    justify-content: space-between;
}
.opciones{
    display: flex;
    gap: 50%;
    align-items: center;
}
.opciones_desplegables{
    display: flex;
    gap: 30%;
}
.selector{
    display: flex;
    user-select: none;
    gap: 10px;
    align-items: center;
    padding-bottom: 15px;
}
.selector p:hover{
    color: black;
    cursor: pointer;
}
.selector img{
    width: 13px;
    height: 10px;
}
.flecha:hover{
    cursor: pointer;
}
.componente{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 12px;
    border-radius: 5px;
    background-color: white;
    display: none;
}

.componente.activar{
    display: flex;
}
.selector img:hover{
    cursor: pointer;
    content: url(images/icon-arrow-up.svg);
} 
.lista{
    display: flex;
    gap: 20px;
}
.lista p{
    font-weight: lighter;
}
.Logueos{
    display: flex;
    user-select: none;
    gap: 30%;
}
.Logueos p:hover{
    cursor: pointer;
    color: black;
}
.registro{
    margin-top: -14px;
    border: 2px solid;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
}
article{
    display: flex;
    justify-content: space-around;
}
h1{
    color: hsl(0, 0%, 8%);
    font-size: 80px;
}
.texto{
    font-size: 22px;
    font-weight: lighter;
}
.contenido{
    display: flex;
    flex-direction: column;
    gap: 10vh;
}
.boton{
    border: 2px solid hsl(0, 0%, 8%) ;
    background-color: hsl(0, 0%, 8%);
    border-radius: 15px;
    padding: 15px 20px 15px 20px;
    width: 130px;
    color: white;
    user-select: none;
}

.boton:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.iconos{
    display: flex;
    align-items: center;
    width: 35vw;
    justify-content: space-between;
}
.imagen_fondo img{
    height: 70vh;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .imagen_fondo{
        content: url(images/image-hero-mobile.png);
    }
    .contenido{
        align-items: center;
    }
    h1 br{
        display: none;
    }
    .texto{
        text-align: center;
    }
    p br{
        display: none;
    }
    article{
        flex-direction: column-reverse;
        gap: 10vh;
        align-items: center;
    }
    .iconos {
        width: 60vw;
    }
}
